*
{
    margin: 0;
    padding: 0;
}

body 
{
    background-repeat: no-repeat;
    font-family: Verdana, Arial, sans-serif;
}

#AboutMe
{
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30%;
}

#AboutMe h1
{
    font-size: 30px;
    line-height: 1.7;
}

#AboutMe p
{
    width: 150%;
    font-size: 2vh;
    text-align: justify;
}    

#sectionA-Title, #sectionB-Title
{
    font-size: 30px;
    line-height: 1.7;
    background-color: midnightblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    color: white;
}

#sectionA-Content
{
    background-color: rgb(7, 11, 52);
    background-size: cover;
    background-position: center; 
}

#sectionB-Content
{
    background-color: rgb(0, 10, 26);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    height: 12vh;     
}

.row 
{
    display: flex;
    flex-wrap: wrap;
}
  
.column 
{
    flex: 25%;
    padding: 25px 50px;
    font-size: 12px;
    position: relative;
}

h1 
{
    color: white;
}

p
{
    color: white;
}

a
{
    text-decoration: none;
    color: orange;
}

.container
{
    overflow: hidden;
    width: 100%;
    border-radius: 1.0em;
}

.container img
{
    transition: 0.29s ease-in-out;
}

.container img:hover
{
    transform: scale(1.1);
}

.zoom 
{
    transition: transform 0.2s;
}
  
.zoom:hover 
{
   transform: scale(1.1); 
}

.logo
{
    position: absolute;
    top: 32px;
    left: 60px;
    width: 6%;
}

.secondaryLogo
{
    position: absolute;
    top: 35px;
    left: 105px;
    width: 15%;
}

.zoom-logo
{
    transition: transform 0.5s, filter 1.1s ease-out;
}

.zoom-logo:hover
{
    transform: scale(1.5);
}

.icons
{
    width: 3%;
    transition: transform 0.2s;
}

.icons:hover
{
   transform: scale(1.1); 
}

.copyRight
{
    color: white;
    font-size: 11px;
}

@media screen and (max-width: 601px) 
{
    .column 
    {
        flex: 50%;
        max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) 
{
    .column
    {
        flex: 100%;
        max-width: 100%;
    }
}